body{
    align-items: center;
    background-color: #F5F5F5;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
}


.title {
      font-family: "Open Sans", serif;
      font-optical-sizing: auto;
      
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
    color: ;
 
}
.nav-bar{
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F5F5F5;

}
.button{
   border: ;
   width: 80px;
   height: 52px;
   border: 2px solid #006A50;
   background-color: white;
   border-radius: 6px;
}
.button a{
    text-decoration: none;
    color: #006A50;

}
.container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 1000px;
    height: 400px;
    background-color: #C6E4D6;
    padding: 60px 80px 60px 80px;
    margin-left: 100px;
    border-radius:20px;
    
    
  }
  
  
  
  
  .hero-image {
    width: 400px;
    height: 300px;
  }
.container p{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}
.container h4{
    color: #151414;
    font-weight: lighter;
    margin-top: 10px;
    
}
.container button{
    background-color: #006A50;
    border: 2px solid;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    border-color: #006A50;
    margin-top: 20px;
}
.container button a{
    color: white;
    text-decoration: none;
    
}
.pillars h3{
    font-weight: bold;
    margin-left: 80px;
    font-size: 30px;
    background-color: #F5F5F5;
}
.box{
    width: 252px;
    height: 275px;
    background-color: white;
    margin-left: 80px;
    border-radius: 15px;
    padding: 20px;
}
.box-box{
    justify-content: space-around;
    display: flex;
    height: 350px;
}
.box p{
    padding-top: 5px;
    
}
.box-box h5{
    font-size: 20px;
    font-weight: bold;
}
.vision-title h3{
    font-weight: bold;
    margin-left: 80px;
    font-size: 30px;
    

}
.vision-title p{
    margin-left: 80px;
    text-align: justify;
}
.vision-box{
    width: 350px;
    height: 275px;
    margin-left: 100px;
    padding: 20px;
    justify-items: left;
    background-color: #81B4FC;
    border-radius: 10px;
    
}
.vision-box2{
    width: 350px;
    height: 275px;
    margin-left: 100px;
    padding: 20px;
    justify-items: left;
    background-color: #C6E4D6;
    border-radius: 10px;
    
}
.vision-box3{
    width: 350px;
    height: 275px;
    margin-left: 100px;
    padding: 20px;
    justify-items: left;
    background-color: #F7EBCF;
    border-radius: 10px;
    
    
}
.vision-box3 p{
    margin-top: 0px;
}
.vision-box3 h5{
    margin-bottom: 0px;
      margin-top: 5px;}
.vision-box2 p{
        margin-top: 0px;
    }
.vision-box2 h5{
        margin-bottom: 0px;
        margin-top: 5px;

}
.vision-box p{
    margin-top: 5px;
}
.vision-box h5{
    margin-bottom: 0px;
    margin-top: 5px;

}
.vision-boxes{
    display: flex;
    justify-content: space-around;
    
   
}
.vision-boxes h5{
    font-weight: bold;
    font-size: 30px;

}
.vision-box3 button{
    background-color:#FFC239 ;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    height: 52px;
    width: 144px;
    padding: 12px 7pxx;
    font-size: 20px;
    border: 0px;
    margin-top: 20px;
}
.vision-box2 button{
    background-color:#09A15C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    height: 52px;
    width: 144px;
    padding: 12px 7pxx;
    font-size: 20px;
    border: 0px;
    margin-top: 50px;
}
.vision-box button{
    background-color:#5490F5;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    height: 52px;
    width: 144px;
    padding: 12px 7pxx;
    font-size: 20px;
    border: 0px;
    margin-top: 33px;
}
.Advisor{
    background-color: white;
    width: 1800px;
    height: 250px;
    font-size: 25px;
    font-weight: 600px;    
    margin-left: 60px;
    padding: 40px 30px 30px 30px;
    text-align: justify;
    border-radius: 20px;
    background-image: url(./quote-bg.png);
    background-repeat: no-repeat;
    background-position:30px 30px;
    background-size: 70px ;
}
.Advisor p{
    margin-top: 0px;
    text-decoration: none;
    font-size: 20px
}
.Advisor h3{
    margin-bottom: 0px;
}